Numbers

In [ ]:
5+2 #addition

In [3]:
5-2 #sustraction

3

In [4]:
5*2 #multiplication

10

In [5]:
5/2 #divition

2.5

In [8]:
5%3 #module

2

In [7]:
5//2 #integer flor divition

2

In [9]:
2**3 #power

8

In [12]:
0.1+0.2-0.3

5.551115123125783e-17

variable assignments

In [17]:
my_dogs=2
print(type(my_dogs))
my_dogs

<class 'int'>

2

In [18]:
my_dogs =["sammy","frankie"]
print(type(my_dogs))
my_dogs

<class 'list'>

['sammy', 'frankie']

In [19]:
a=10

In [20]:
a

10

In [21]:
a+=a

In [22]:
a

20

strings

In [23]:
'hello'
"hello"
"i don't do that"

"i don't do that"

In [24]:
name="jorge"

In [25]:
name[0]

'j'

In [26]:
name[1]

'o'

In [27]:
name[-1]

'e'

In [35]:
name[-2]

'g'

In [36]:
print("hello \nworld")

hello
world

In [37]:
print("hello \tworld")

hello 	world

In [29]:
alphabet="abcdefghijklmnñopqrstuvwxyz"

In [38]:
len(alphabet)

27

In [33]:
alphabet[1:10]

'bcdefghij'

In [39]:
alphabet[1:10:2]

'bdfhj'

In [45]:
alphabet[-1:-10:-2]

'zxvtr'

In [46]:
alphabet[-10:-1:2]

'qsuwy'

In [49]:
alphabet[10:]

'klmnñopqrstuvwxyz'

In [50]:
alphabet[10:]

'qrstuvwxyz'

In [51]:
alphabet[:-10]

'abcdefghijklmnñop'

In [52]:
alphabet[:-10:-2]

'zxvtr'

In [54]:
alphabet[::2]

'acegikmñprtvxz'

In [55]:
alphabet[::-2]

'zxvtrpñmkigeca'

In [57]:
lastname='piedrahita'

In [58]:
lastname[0]='P'

TypeError: 'str' object does not support item assignment

In [61]:
lastname='P'+lastname[1:]
print(lastname)

Piedrahita

In [62]:
letter='z'

In [65]:
letter*10

'zzzzzzzzzz'

In [66]:
2+3

5

In [67]:
'2'+'3'

'23'

In [68]:
'2'+3

TypeError: can only concatenate str (not "int") to str

In [83]:
x='hello world'

In [84]:
x.capitalize()

'Hello world'

In [85]:
x.upper()

'HELLO WORLD'

In [86]:
x

'hello world'

In [87]:
x.lower()

'hello world'

In [88]:
x.split()

['hello', 'world']

In [89]:
x

'hello world'

In [90]:
x.split('o')

['hell', ' w', 'rld']

formating

In [91]:
name="jorge"

In [92]:
print("hola "+name)

hola jorge

In [93]:
'string here {} then also {}'.format('something1','something2')

'string here something1 then also something2'

In [94]:
'string here {1} then also {0}'.format('something1','something2')

'string here something2 then also something1'

In [95]:
'string here {0} then also {0}'.format('something1','something2')

'string here something1 then also something1'

In [98]:
print("the {f} {f} {f}".format(f='fox',b='brown',q='quick'))

the fox fox fox

In [103]:
result=1724883/34556

In [104]:
result

49.91558629471004

In [105]:
print('the resoult was {r}'.format(r=result))

the resoult was 49.91558629471004

In [107]:
print('the resoult was {r:1.3f}'.format(r=result))

the resoult was 49.916

In [108]:
print('the resoult was {r:15.3f}'.format(r=result))

the resoult was          49.916

In [109]:
name='jorge'

In [110]:
print('hello, his name is {}'.format(name))

hello, his name is jorge

In [112]:
print(f'hello, his name is {name}')

hello, his name is jorge

In [114]:
print(f'hello, his name is {result:1.3f}')

hello, his name is 49.916

In [115]:
print('i like %s' %'apples')

i like apples

In [125]:
print('i like %(fruit)s and %(sport)s' %{'fruit':'apples','sport':'soccer'})

i like apples and soccer

lists

In [1]:
my_list=[1,2,3]

In [2]:
my_list=['sring',2,3.14]

In [4]:
len(my_list)

3

In [5]:
my_list=['one','two','three']

In [6]:
my_list[1]

'two'

In [7]:
my_list[1:]

['two', 'three']

In [8]:
another_list=['four', 'five']

In [9]:
my_list+another_list

['one', 'two', 'three', 'four', 'five']

In [10]:
new_list=my_list+another_list

In [12]:
new_list

['one', 'two', 'three', 'four', 'five']

In [13]:
new_list[0]='one all no caps'

In [14]:
new_list

['one all no caps', 'two', 'three', 'four', 'five']

In [15]:
new_list.append('casita')

In [16]:
new_list

['one all no caps', 'two', 'three', 'four', 'five', 'casita']

In [17]:
new_list.pop()

'casita'

In [18]:
new_list

['one all no caps', 'two', 'three', 'four', 'five']

In [19]:
popped=new_list.pop()

In [20]:
popped

'five'

In [21]:
new_list

['one all no caps', 'two', 'three', 'four']

In [22]:
new_list.pop(1)

'two'

In [23]:
new_list

['one all no caps', 'three', 'four']

In [25]:
new_list=['a','x','c','y','e']
num_list=[1,4,6,2,3,8,7]

In [26]:
new_list.sort()

In [27]:
new_list

['a', 'c', 'e', 'x', 'y']

In [28]:
num_list.sort()

In [29]:
num_list

[1, 2, 3, 4, 6, 7, 8]

In [31]:
num_list.reverse()

In [32]:
num_list

[8, 7, 6, 4, 3, 2, 1]

diccionarios

In [33]:
my_dict={'key1':'value1','key2':'value2'}

In [34]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [35]:
my_dict['key1']

'value1'

In [36]:
prices={'orange':5.25,'apple':4.12,'milk':85.}

In [37]:
prices['milk']

85.0

In [39]:
d={'k1':23.2,'k2':[0,1,2],'k3':{'insidekey':1}}

In [41]:
d['k2']

[0, 1, 2]

In [42]:
d['k3']

{'insidekey': 1}

In [43]:
d['k3']['insidekey']

1

In [44]:
d['k2'][2]

2

In [45]:
d={'key1':['a','b','c']}

In [46]:
d

{'key1': ['a', 'b', 'c']}

In [48]:
mylist=d['key1']

In [49]:
mylist

['a', 'b', 'c']

In [53]:
letter=mylist[2]

In [54]:
letter.upper()

'C'

In [56]:
d['key1'][2].upper()

'C'

In [63]:
d={'k1':100,'k2':200}

In [64]:
d

{'k1': 100, 'k2': 200}

In [65]:
d['k3']=300

In [66]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [67]:
d['k1']='new value'

In [68]:
d

{'k1': 'new value', 'k2': 200, 'k3': 300}

In [70]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [71]:
d.values()

dict_values(['new value', 200, 300])

In [76]:
d.items()

dict_items([('k1', 'new value'), ('k2', 200), ('k3', 300)])

tuplas

In [77]:
my_tuple=(1,2,3)

In [78]:
my_tuple

(1, 2, 3)

In [79]:
type(my_tuple)

tuple

In [80]:
len(my_tuple)

3

In [81]:
t=('casa',3)

In [82]:
t

('casa', 3)

In [84]:
t[0]

'casa'

In [86]:
t[-1]

3

In [87]:
t=('a','a','b')

In [88]:
t

('a', 'a', 'b')

In [89]:
t.count('a')

2

In [90]:
t.index('a')

0

In [91]:
t.index('b')

2

In [98]:
t=([1,2],3)

In [99]:
t[0]

[1, 2]

In [101]:
t[0][0]=4

In [102]:
t

([4, 2], 3)