If statements

In [6]:
if True:
    print('casita')

casita

In [2]:
if False:
    print(':O')

In [3]:
if 3>2:
    print("it's True")

it's True

In [5]:
loc='bank'

if loc=='autoshop':
    print('cars are cool')
elif loc=='bank':
    print('money is cool')
elif loc=='store':
    print('groceries are cool')
else:
    print('where am I')

money is cool

For loops

In [8]:
my_iterable=[1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [9]:
my_list=[1,2,3,4,5,6,7,8,9]

In [10]:
for num in my_list:
    print(num)

1
2
3
4
5
6
7
8
9

In [11]:
for num in my_list:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello

In [13]:
for num in my_list:
    #print even numbers 
    if num%2==0:
        print(num)
    else:
        print(f'odd number: {num}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9

In [14]:
list_sum=0

for num in my_list:
    list_sum=num+list_sum
print(list_sum)

45

In [15]:
mystring='casita bonita'
for letter in mystring:
    print(letter)

c
a
s
i
t
a

b
o
n
i
t
a

In [16]:
for letter in 'casita bonita':
    print(letter)

c
a
s
i
t
a

b
o
n
i
t
a

In [19]:
for _ in 'casita bonita':
    print('casa')

casa
casa
casa
casa
casa
casa
casa
casa
casa
casa
casa
casa
casa

In [22]:
tup=(1,2,3)

for item in tup:
    print(item)

1
2
3

In [28]:
mylist=[(1,2),(3,4),(5,6),(7,8)]

In [24]:
len(mylist)

4

In [29]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [31]:
for a,b in mylist:
    print(a)

1
3
5
7

In [32]:
mylist=[(1,2,3),(4,5,6),(8,9,10)]

In [36]:
for a,b,c in mylist:
    print(a+b+c)

6
15
27

In [37]:
d={'k1':1,'k2':2,'k3':3}

In [38]:
for item in d:
    print(item)

k1
k2
k3

In [41]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [42]:
for key,value in d.items():
    print(value)

1
2
3

In [44]:
for value in d.values():
    print(value)

1
2
3

while loops

In [48]:
x=0

while x<5:
    print(f'value is: {x}')
    x=x+1
else:
    print('x is not less than five')

value is: 0
value is: 1
value is: 2
value is: 3
value is: 4
x is not less than five

In [50]:
x=[1,2,3]
for item in x:
    pass

print('end of my scrips')

end of my scrips

In [51]:
mystring='sammy'

In [52]:
for letter in mystring:
    print(letter)

s
a
m
m
y

In [53]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

s
m
m
y

In [54]:
for letter in mystring:
    if letter == 'm':
        break
    print(letter)

s
a

In [56]:
x=0
while x<5:
    print(x)
    x+=1

0
1
2
3
4

In [57]:
x=0
while x<5:
    if x==3:
        break
    print(x)
    x+=1

0
1
2

Useful operators

In [63]:
range(10)

range(0, 10)

In [64]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [65]:
for i in range(4,10):
    print(i)

4
5
6
7
8
9

In [66]:
for i in range(4,10,2):
    print(i)

4
6
8

In [68]:
inexcount=0

for letter in 'abcde':
    print('at index {} the letter is {}'.format(inexcount,letter))
    inexcount+=1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [69]:
inexcount=0
word='abcde'
for letter in word:
    print(word[inexcount])
    inexcount+=1

a
b
c
d
e

In [70]:
word='abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [71]:
word='abcde'
for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [75]:
list1=[1,2,3]
list2=['a','b','c']
list3=[True,False]

In [76]:
for item in zip(list1,list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [77]:
for item in zip(list1,list2,list3):
    print(item)

(1, 'a', True)
(2, 'b', False)

In [78]:
list(zip(list1,list2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [79]:
'a' in 'a word'

True

In [80]:
'mykey' in {'mykey':345}

True

In [81]:
345 in {'mykey':345}.values()

True

In [82]:
mylist=[1,54,6,3,5,64,3]

In [83]:
min(mylist)

1

In [84]:
max(mylist)

64

In [85]:
from random import shuffle

In [88]:
mylist=[1,2,3,4,5,6,7,8,9]

In [91]:
shuffle(mylist)

In [92]:
mylist

[5, 6, 7, 8, 4, 2, 9, 1, 3]

In [93]:
from random import randint

In [94]:
 randint(0,100)

13

In [95]:
input('enter a number here: ') #that is a string

enter a number here: 50

'50'

In [96]:
input('enter a number here: ')

enter a number here: 4

'4'

In [99]:
float(input('enter a number here: '))

enter a number here: 6

6.0

list comprehensions

In [2]:
my_string ='hello'
my_list=[]

for letter in my_string:
    my_list.append(letter)

my_list

['h', 'e', 'l', 'l', 'o']

In [3]:
my_list=[letter for letter in my_string]

my_list

['h', 'e', 'l', 'l', 'o']

In [4]:
mylist=[x for x in 'word']

In [5]:
mylist

['w', 'o', 'r', 'd']

In [6]:
 mylist=[x for x in range(0,11)]

In [7]:
my_list

['h', 'e', 'l', 'l', 'o']

In [8]:
 mylist=[num**2 for num in range(0,11)]

In [9]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
mylist=[x for x in range(0,11) if x%2==0]

In [11]:
mylist

[0, 2, 4, 6, 8, 10]

In [15]:
celcius= [0,10,20,34.5]
fahrenheit =[((9/5)*temp+32) for temp in celcius ]

In [16]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [17]:
results=[x if x%2==0 else 'odd' for x in range(0,11)]

In [18]:
results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [19]:
mylist=[]

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [20]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [23]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]

In [24]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]